    .concolor {
        color: greenyellow !important;
            }
    
    .textocolor {color:azure !important;
    }
    .container-fluid {
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .titulo-dentro {
        position: absolute; 
        top: 15%; 
        left:500px; 
        color: azure !important; 
    }
    .texto-derecha {
        position: absolute;
        top: 18%; 
        left: 25%; 
        color: azure !important; 

    }
    .oscura { 
        filter: brightness(50%);
    }
    .btnorador {
        position: absolute; 
        top: 25%; 
        left:900px;
        background-color: transparent !important;
        color :white !important;  
    }
    .btnticket {
        position: absolute; 
        top: 25%; 
        left:1100px; 
    } 
    .btnjava {
        color: black !important; 
        background-color: yellow !important;
        font-weight: bold !important; 
    }
    .btnreact {
        background-color: cyan !important;
        font-weight: bold !important; 
    }

    .btnnegocios {
        background-color:gray!important;
        font-weight: bold !important; 
    }
    .btnstartups {
        background-color:tomato !important;
        font-weight: bold !important; 
    }
    .ellugar {
        background-color:rgb(39, 38, 38);
        color: white; 
    }
    .btnconoce {
        position: absolute; 
        top: 72%; 
        left:700px;            
        background-color: transparent !important;
        color :white !important;  
    }        
    .ultimafila {
        background-color:darkslateblue;
        color: white;
    }
